@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

/* Standard syntax */
@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.imgZoomEffect {
  -webkit-animation: zoom 50s; /* Chrome, Safari, Opera */
  animation: zoom 50s;
}

.mainImage {
  position: absolute;
  opacity: 0.8;
  object-fit: cover;
  filter: brightness(30%);
  -webkit-animation: zoom 50s; /* Chrome, Safari, Opera */
  animation: zoom 50s;
  z-index: -1;
}
