.imgFitnessDark {
  position: relative;
  width: 100%;
}

.imgFitnessDark > div {
  z-index: 10;
}
.imgFitnessDark::before {
  content: '';
  border-radius: 0.8rem 0 0.8rem 0.8rem;
  background-image: url('https://raw.githubusercontent.com/rocooliveira/nutricao-prevencao-cancer/master/public/fitness.jpg');
  background-size: cover;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(0.5);
}
