.imgFitnessDark,
.imgGoodEatingDark {
  position: relative;
  width: 100%;
}

.imgFitnessDark > div,
.imgGoodEatingDark > div {
  z-index: 10;
}
.imgFitnessDark::before,
.imgGoodEatingDark::before {
  content: '';
  border-radius: 0.8rem 0 0.8rem 0.8rem;
  background-image: url('/img/fitness.jpg');
  background-size: cover;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(0.55);
}

.imgGoodEatingDark::before {
  background-image: url('/img/good-eating-habits.jpg');
}

.footerOverlayMainWaves {
  margin-top: -34px;
  left: -180px !important;
  background-color: #8ec038;
}
.footerOverlayBlackWaves {
  background-color: #1a1f2c;
}
.footerOverlayMainWaves,
.footerOverlayBlackWaves {
  mask-size: 1000px;
  -webkit-mask-size: 1000px;
  height: 32px;
  margin-top: -32px;
  left: -600px;
}

.footerOverlayBlackWaves,
.footerOverlayMainWaves {
  display: block;
  height: 64px;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
  margin-top: 0px;
  mask-image: url('/img/wave.svg');
  -webkit-mask-image: url('/img/wave.svg');
  mask-size: 1940px;
  -webkit-mask-size: 1940px;
  position: absolute;
  right: 0;
}

@media (max-width: 991px) {
  .footerOverlayBlackWaves {
    left: -650px;
  }
  .footerOverlayMainWaves {
    left: -200px !important;
  }
}

@media (min-width: 992px) {
  .footerOverlayBlackWaves {
    left: -560px;
  }

}

.numberListG {
  
  list-style: none;
  counter-reset: my-awesome-counter;
}
.numberListG li {
  margin-left: 2rem;
  counter-increment: my-awesome-counter;
}
.numberListG li::marker {
  content: counter(my-awesome-counter) ".  ";
  color: #2D3748;
  font-weight: bold;
  font-size: 3rem;
  font-weight: 700;
}

@media (max-width: 991px) {
  .numberListG li {
    margin-left: 1.1rem;
    counter-increment: my-awesome-counter;
  }
  .numberListG li::marker {
    font-size: 2rem;
  }

}

@media (min-width:1200px){
  .customContainer{
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    background-color: #FFF;
  }
  .customContainer > header{
    width: 100%;
  }
}